{% include 'layout.html '%}


<div class="container mt-3">
    <input class="form-control"
           id="txtInputAnything"
           type="text"
           placeholder="users_edit Search Here">
    <div id="myWeb" class="mt-3">


        <div class="card">
            <div class="card-header">
                Let's edit your users!
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label>tc</label>
                        <input type="text" class="form-control" name="tc" value="{{users.tc}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label>ad</label>
                        <input type="text" class="form-control" name="ad" value="{{users.ad}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label>soyad</label>
                        <input type="text" class="form-control" name="soyad" value="{{users.soyad}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label>email</label>
                        <input type="text" class="form-control" name="email" value="{{users.email}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label>telno</label>
                        <input type="text" class="form-control" name="telno" value="{{users.telno}}"
                               required>
                    </div>

                    <div class="custom-control custom-switch">

                        <input class="custom-control-input" type="checkbox" id="password" name="password" value="1" >
                        <label class="custom-control-label" for="password">reset password</label>
                    </div>



                    <div class="container text-center">
                        <div class="row align-items-start">
                            <div class="col">
                                <div class="form-group">
                                    <label><strong> role ? </strong></label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                            name="role" id="role">
                                        <option selected> {{users.role}}</option>
                                        <option value="admin">make admin</option>
                                        <option value="user">make user</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label><strong> owner ? </strong></label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                            name="owner" id="owner">
                                        <option selected> {{ users.owner }}
                                        <option value="True">make owner</option>
                                        <option value="False">make Not owner</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label><strong> uzman ? </strong></label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                            name="uzman" id="uzman">
                                        <option selected> {{ users.uzman }}
                                        <option value="True">make uzman</option>
                                        <option value="False">make Not uzman</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label><strong> sekreter ? </strong></label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                            name="sekreter" id="sekreter">
                                        <option selected> {{ users.sekreter }}
                                        <option value="True">make sekreter</option>
                                        <option value="False">make Not sekreter</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col">
                                <div class="form-group">
                                    <label><strong> is_active ? </strong></label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="is_active" id="is_active">
                                        <option selected> {{ users.is_active }}
                                        <option value="True">make active</option>
                                        <option value="False">make passive</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Edit your users</button>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        {{ "delete users tc: " }} {{users.tc}}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{users.ad}} {{users.soyad}} {{"users will be deleted, do you confirm?"}}


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    <button onclick="window.location.href='/auth/delete/{{users.id}}'"
                                            type="button" class="btn btn-danger">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



